

<ion-header>
  <ion-toolbar style="--background: #00000000; --ion-toolbar-background: #00000000; color: #fff;">
    

    <div class="toolbar-left">
      <ion-button fill="clear" (click)="goBack()" slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <span class="page-title">Badge</span>
    </div>


    <ion-buttons slot="end">
      <ion-button fill="clear">
        <!-- <ion-icon name="notifications-outline"></ion-icon> -->
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="badge-container">
   
    <div class="badge-card">
   
      <div class="badge-header">
        <h2>{{userDetails.category}}</h2>
      </div>
      

      <div class="badge-content">
       
        <div class="user-photo">
          <ion-icon name="person-circle" class="photo-icon"></ion-icon>
        </div>
        
        
        <div class="user-details">
          <h1 class="user-name">{{ userDetails.name }}</h1>
          <p class="user-designation">{{ userDetails.designation }}</p>
          <p class="user-company">{{ userDetails.company_name }}</p>
        </div>
        
        
        <div class="qr-code">
          <img [src]="userDetails.qr_code" alt="QR Code">
          <p class="scan-text">Scan to verify</p>
        </div>
      </div>
      
     
      <div class="badge-footer">
        <p>Thank you for attending!</p>
      </div>
    </div>
  </div>
</ion-content>