<ion-header>
  <ion-toolbar>
    <div class="toolbar-left">
      <ion-button fill="clear" (click)="goBack()" slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <span class="page-title">Shuttle Service Information</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="shuttle-content">
  <div class="shuttle-wrapper">
    <!-- Loading State -->
    <div *ngIf="isLoading" class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Loading shuttle information...</p>
    </div>

    <ion-segment *ngFor="let segment of segments" mode="md" scrollable value="{{segment}}" class="shuttle-segment" (click)="loaditenaries(segment)">
      <ion-segment-button value={{segment}}>
        <ion-label>{{segment}}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- TAB 1: Hotel ➝ Venue -->
    <ng-container >
      <ion-accordion-group>
        <ion-accordion *ngFor="let route of itinerariesList" [value]="route.itinerary_name">
          <ion-item slot="header">
            <ion-label>
              <h2>{{ route.itinerary_name }}</h2>
              <p>Vehicle: {{ route.vehicle_name || route.vehicle_registered_no }}</p>
            </ion-label>
          </ion-item>
          <div slot="content" class="accordion-content">
            <div *ngFor="let stop of route.itinerary_details" class="timeline">
              <div class="timeline-dot upcoming"></div>
              <div class="timeline-content upcoming">
                <h3>{{ stop.place_name }}</h3>
                <p><strong>Planned:</strong> {{ stop.pickup_time || 'N/A' }}</p>
                <p><strong>ETA:</strong> {{ stop.pickup_time || 'N/A' }}</p>
              </div>
            </div>
            
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ng-container>

  </div>
</ion-content>
