<ion-content class="splash-screen" fullscreen>
  <div class="background">
    <img src="assets/cocon-logo.png" alt="c0c0n Logo" class="logo" />
    <img src="assets/robot-hand.png" alt="Robot Hand" class="robot-hand" />

    <div class="content-box">
      <h2>Welcome to c0c0n.</h2>
      <p>Longest-Running Cyber Security &<br />Hacking Conference in India</p>

      <div class="info-cards">
        <div class="card">
          <img src="assets/icon/calender.png" alt="Calendar Icon" class="custom-icon" />
          <div class="label-box">
            <div class="label">07–11</div>
            <div class="sub-label">October, 2025</div>
          </div>
        </div>
        
        <div class="card">
          <img src="assets/icon/location.png" alt="Location Icon" class="custom-icon" />
          <div class="label-box">
            <div class="label">Grand Hyatt, Bolgatty</div>
            <div class="sub-label">Kochi, Kerala, India</div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</ion-content>
