
<ion-header>
  <ion-toolbar style="--background: #00000000; --ion-toolbar-background: #00000000; color: #fff;">
    
    <!-- Left: Back icon + title -->
    <div class="toolbar-left">
      <ion-button fill="clear" (click)="goBack()" slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <span class="page-title">Exhibitors</span>
    </div>

    <!-- Right: Notification icon -->
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <!-- <ion-icon name="notifications-outline"></ion-icon> -->
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="exhibitors-content">
  <div class="exhibitors-wrapper">
    <div
      *ngFor="let exhibitor of exhibitors; let i = index" class="exhibitor-card"[style.animationDelay]="(i * 0.1) + 's'">
      <h2 class="exhibitor-name">{{ exhibitor.name }}</h2>
      <p class="exhibitor-desc">{{ exhibitor.products }}</p>
      <div class="exhibitor-location">
        <span>{{ exhibitor.address }}</span>
        <span>{{ exhibitor.phone }}</span>
      </div>
      <ion-item lines="full" class="divider" *ngIf="i !== exhibitors.length - 1"></ion-item>
    </div>
  </div>
</ion-content>
