<ion-header>
  <ion-toolbar style="--background: #00000000; --ion-toolbar-background: #00000000; color: #fff;">
    <div class="toolbar-left">
      <ion-button fill="clear" (click)="goBack()" slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <span class="page-title">Profile</span>
    </div>

    <ion-buttons slot="end">
      <ion-button fill="clear">
        <!-- <ion-icon name="notifications-outline"></ion-icon> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="settings-page">

  <div class="user-section">
    <img class="avatar" [src]="user.image || 'assets/avatar-placeholder.png'" alt="Photo" />
    <div class="welcome">
      <div>{{ user.name }}</div>
      <strong>Reg. No.: {{ user.unique_no }}</strong>
    </div>
  </div>

  <ion-list lines="none">
    <ion-item>
      <ion-label>Registration Category</ion-label>
      <ion-note slot="end">{{ user.category || '—' }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-note slot="end">{{ user.email || '—' }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Mobile</ion-label>
      <ion-note slot="end">{{ user.mobile || '—' }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Designation</ion-label>
      <ion-note slot="end">{{ user.designation || '—' }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Company Name</ion-label>
      <ion-note slot="end">{{ user.company_name || '—' }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Workshop</ion-label>
      <ion-note slot="end">{{ user.workshop || '—' }}</ion-note>
    </ion-item>

 
  </ion-list>
   <!--Logout-->
  <div class="logout-box">
    <ion-button expand="block" fill="solid" color="danger" (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Logout
    </ion-button>
  </div>
  

</ion-content>
