<ion-content class="conference-page" fullscreen>

  <div class="header">
    <h2>Join Us at <span>c0c0n 2025</span> –<br />Hacking & Cybersecurity Briefing</h2>
    <p>Securing the Cyber Future Together</p>
    <div class="event-details">
      <ion-icon name="calendar-outline"></ion-icon>
      <span class="date">07–11 October, 2025</span>
    </div>
    <div class="event-details">
      <ion-icon name="location-outline"></ion-icon>
      <span>Grand Hyatt, Bolgatty, Kochi, Kerala, India</span>
    </div>
  </div>

  <div class="main-content-container">

  
<div class="section-box">
  <h3>Conference Details</h3>
  <p>Explore essential information about the event</p>

  <div class="carousel-nav">
    <button (click)="scrollCarousel('conference', 'prev')">‹</button>
    <button (click)="scrollCarousel('conference', 'next')">›</button>
  </div>

  <div class="carousel" #conferenceCarousel>
    <ion-card class="card" (click)="navigate('/home/about-conference')">
      <ion-icon name="document-text-outline" class="caro-icon"></ion-icon>
      <p>About the Conference</p>
    </ion-card>    
    <ion-card class="card" *ngIf="eventDetails.website_url" (click)="openWebsite(eventDetails.website_url)">
      <ion-icon name="compass-outline" class="caro-icon"></ion-icon>
      <p>Website</p>
    </ion-card>
    <ion-card class="card" (click)="navigate('/home/directory')">
      <ion-icon name="folder-outline" class="caro-icon"></ion-icon>
      <p>Directory </p>
    </ion-card>
    <ion-card class="card" (click)="navigate('/home/app-help')">
      <ion-icon name="help-circle-outline" class="caro-icon"></ion-icon>
      <p>App Help!</p>
    </ion-card>
  </div>
</div>


    <div class="section-box">
      <h3>Program Schedule</h3>
      <p>Check the schedule to stay updated on each session</p>

      <div class="carousel-nav">
        <button (click)="scrollCarousel('program', 'prev')">‹</button>
        <button (click)="scrollCarousel('program', 'next')">›</button>
      </div>
      <div class="carousel" #programCarousel>
        <ion-card class="card" (click)="navigate('/home/today-schedule')">
          <!-- <ion-icon name="calendar-number-outline"></ion-icon> -->
          <img src="assets/icon/todays-program.svg" class="caro-icon">     
          <p >Today’s Program</p>
        </ion-card>
        <ion-card class="card" (click)="navigate('/home/delegates')">
          <!-- <ion-icon name="people-outline"></ion-icon> -->
          <img src="assets/icon/our-speakers.svg" class="caro-icon">
          <p>Speakers</p>
        </ion-card>
        <ion-card class="card" (click)="navigate('/home/schedule')">
          <!-- <ion-icon name="time-outline"></ion-icon> -->
         <img src="assets/icon/scientific-pro-icon.svg" class="caro-icon">
          <p>Scientific Program</p>
        </ion-card>
        <ion-card class="card" (click)="navigate('/home/favourites')">
          <!-- <ion-icon name="heart-outline" class="caro-icon"></ion-icon> -->
          <svg class="caro-icon" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
  <path d="M352.92,80C288,80,256,144,256,144s-32-64-96.92-64C106.32,80,64.54,124.14,64,176.81c-1.1,109.33,86.73,187.08,183,252.42a16,16,0,0,0,18,0c96.26-65.34,184.09-143.09,183-252.42C447.46,124.14,405.68,80,352.92,80Z"
        fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
</svg>

          <p>Favorites</p>
        </ion-card>
      </div>
    </div>

    <div class="section-box">
      <h3>Delegate Info</h3>
      <h6>Please visit the Badge & Feedback area</h6>

     
      <div class="carousel-nav">
        <button (click)="scrollCarousel('badge', 'prev')">‹</button>
        <button (click)="scrollCarousel('badge', 'next')">›</button> 
      </div>

      
      <div class="carousel" #badgeCarousel>
        <ion-card class="card" *ngIf="isLoggedIn()" (click)="openLoginModal()">
          <!-- <ion-icon name="id-card-outline"></ion-icon> -->
          
         <img src="assets/icon/delegate-login.svg" class="caro-icon">
          <p>Delegate Login </p>
        </ion-card>        
        <ion-card class="card" (click)="navigate('/home/profile')">
          <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
          <img src="assets/icon/delegate-profile.svg" class="caro-icon">
          <p>Delegate Profile </p>
        </ion-card>
        <ion-card class="card" (click)="navigate('/home/badge')">
          <ion-icon name="ribbon-outline" class="caro-icon" ></ion-icon>
          <p style="padding-top: 6px;">Virtual badge</p>
        </ion-card>
        <ion-card class="card" (click)="navigate('/home/chat')">
          <ion-icon name="globe-outline" class="caro-icon"></ion-icon>
          <p style="padding-top: 6px;">Networking </p>
        </ion-card>
        <ion-card class="card" (click)="navigate('/home/feedback')">
          <!-- <ion-icon name="chatbox-ellipses-outline"></ion-icon> -->
          <img src="assets/icon/feedback.svg" class="caro-icon">
          <p>Feedback</p>
        </ion-card>
      </div>
    </div>




<div class="section-box">
  <h3>At the Venue</h3>
  <p>Facilities & support at Grand Hyatt</p>

  <div class="carousel-nav">
    <button (click)="scrollCarousel('venue', 'prev')">‹</button>
    <button (click)="scrollCarousel('venue', 'next')">›</button>
  </div>

  <div class="carousel" #venueCarousel>
    <ion-card class="card" (click)="navigate('/home/attraction')">
      <ion-icon name="map-outline" class="caro-icon"></ion-icon>
      <p>Attractions </p>
    </ion-card>
   <ion-card class="card" (click)="navigate('/home/accommodation')">
  <ion-icon name="bed-outline" class="caro-icon"></ion-icon>
  <p>Accommodation</p>
</ion-card>

    <ion-card class="card" (click)="openPdfPage(eventDetails.venue_layout,'venue-layout')">
      <ion-icon name="business-outline" class="caro-icon"></ion-icon>
      <p>Venue Layout</p>
    </ion-card>
    <ion-card class="card" (click)="openPdfPage(eventDetails.stall_layout,'stall-layout')">
      <ion-icon name="cube-outline" class="caro-icon"></ion-icon>
      <p>Stall Layout</p>
    </ion-card>
    <ion-card class="card" (click)="navigate('/home/exhibitors')">
      <ion-icon name="ticket-outline" class="caro-icon"></ion-icon>
      <p>Exhibitors </p>
    </ion-card>
    <ion-card class="card" (click)="navigate('/home/sponsors')">
      <ion-icon name="cash-outline" class="caro-icon"></ion-icon>
      <p>Sponsors </p>
    </ion-card>
    <ion-card class="card" (click)="navigate('/home/shuttle-service')">
      <ion-icon name="bus-outline" class="caro-icon"></ion-icon>
      <p>Shuttle Service </p>
    </ion-card>
     
  </div>
</div>



 <!-- Exhibitors Section -->
    <div class="section-box">
      <h3>Exhibitors</h3>
      <p>Facilities & support at Grand Hyatt</p>

      <div class="carousel-nav">
        <button (click)="scrollCarousel('exhibitors', 'prev')">‹</button>
        <button (click)="scrollCarousel('exhibitors', 'next')">›</button>
      </div>

      
      <div class="carousel" #exhibitorsCarousel>
        <ion-card class="card" (click)="navigate('/home/scan')">
          <ion-icon name="scan-outline" class="caro-icon"></ion-icon>
          <p>Scan </p>
        </ion-card>
        <ion-card class="card" (click)="navigate('/home/exhibitors-report')">
          <ion-icon name="document-text-outline" class="caro-icon"></ion-icon>
          <p>Report</p>
        </ion-card>
      </div>
    </div>
</div>
</ion-content> 