<ion-header>
  <ion-toolbar style="--background: transparent; --ion-toolbar-background: transparent; color: #fff;">
    <div class="toolbar-left">
      <ion-button fill="clear" (click)="goBack()" slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <span class="page-title">Accommodation</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="accommo-content">
  <div class="accommo-wrapper">

    
    <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search by name, location or description..." debounce="300" (ionInput)="applyFilter()"></ion-searchbar>

    
    <div class="filter-buttons">
      <ion-chip *ngFor="let category of categories" (click)="filterByCategory(category)">
        <ion-label>{{ category }}</ion-label>
      </ion-chip>
    </div>

    <p class="accommo-title">Find Your Stay</p>

    
    <ion-card class="accommodation-card" *ngFor="let item of filteredAccommodations">
      <ion-img [src]="item.image" alt="{{item.name}}"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
        <ion-card-subtitle>{{ item.location }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
         <p class="hotel-description">{{ item.description }}</p>
        
        <div class="distance-info">
          <p><ion-icon name="pin-outline"></ion-icon> {{ item.distanceVenue }} from Venue</p>
          <p><ion-icon name="airplane-outline"></ion-icon> {{ item.distanceAirport }} from Airport</p>
        </div>

        
        <div class="room-details">
          <p><strong>Room Type:</strong> {{ item.roomType }}</p>
          <p><strong>Occupancy:</strong> {{ item.occupancy }}</p>
          <p><strong>Rate:</strong> ₹{{ item.rate }}/night</p>
        </div>

        <div class="card-actions">
          <ion-button size="small" fill="outline" color="success" (click)="viewOnMap(item)">
            View on Map
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
