<ion-header>
  <ion-toolbar style="--background: #00000000; --ion-toolbar-background: #00000000; color: #fff;">
    
   
    <div class="toolbar-left">
      <ion-button fill="clear" (click)="goBack()" slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <span class="page-title">Directory</span>
    </div>

   
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <!-- <ion-icon name="notifications-outline"></ion-icon> -->
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true" class="directory-page">
  <div class="intro-section">
    <!-- <img src="assets/banner-about.jpeg" alt="Directory Banner" /> -->
    <div class="overlay-text">
      <h1>Welcome to C0C0N 2025 Directory</h1>
      <p>Find people, teams, and departments</p>
    </div>
  </div>

  <section class="directory-content">
    <div class="time-block" *ngFor="let directoryCategory of directoryCategories">
      <div class="programs-col">
        <ion-accordion-group [value]="openedAccordion" (ionChange)="onAccordionChange($event)">
          <ion-accordion [value]="directoryCategory.id">
            <ion-item slot="header" lines="none">
              <ion-label class="session-title">{{ directoryCategory.name }}</ion-label>
            </ion-item>
            <div class="session-body" slot="content" [ngClass]="{'active': openedAccordion === directoryCategory.id}">            
              <div *ngFor="let directory of directoryList" class="subsession">              
                <div class="speaker">
                  <span class="person-name session-subtitle">{{ directory.name }}</span>
                  <a [href]="'tel:' + directory.phone" class="phone-link">
                    {{ directory.phone }}
                  </a>
                </div>
              </div>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </div>
  </section>
</ion-content>
