<ion-content class="c0c0n-page" fullscreen>


  <ion-header>
  <ion-toolbar style="--background: #00000000; --ion-toolbar-background: #00000000; color: #fff;">
    
 
    <div class="toolbar-left">
      <ion-button fill="clear" (click)="goBack()" slot="start">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <span class="page-title">Sponsors</span>
    </div>

  
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <!-- <ion-icon name="notifications-outline"></ion-icon> -->
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

  


  <div class="main-content-container internal-page">
 
    <div class="section">
      <div class="time-block" *ngFor="let sponserCategory of sponsers">
        
        <div class="programs-col">
          <ion-accordion-group [value]="openedAccordion" (ionChange)="onAccordionChange($event)">
            <ion-accordion [value]="sponserCategory.id">
              <ion-item slot="header" lines="none">
                <ion-label class="session-title">
                  <div class="time-col">
          <div class="main-time">
            {{ sponserCategory.name }}
          </div>
        </div>
                </ion-label>
              </ion-item>
              <div class="session-body" slot="content" [ngClass]="{'active': openedAccordion === sponserCategory.id}">            
                <div *ngFor="let sponser of sponsersDetails" class="subsession">
                  <div class="session-subtitle">{{ sponser.name }}</div>
                <div class="speaker">
                  <img [src]="sponser.image" class="avatar" />
                </div>
                </div>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </div>
      </div>
    </div>
     <hr>
   </div>  
  </ion-content>
